* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  :root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #000;
    --text-color: #707070;
  
    /* ====Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  }
  body {
    height: 100vh;
    background: var(--body-color);
  }
  .sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    padding: 10px 14px;
    background: var(--sidebar-color);
  }
  .sidebar .search-box {
    width: 100%;
    height: 50px;
    background: var(--primary-color-light);
  }
  .search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 6px;
    border: none;
    background: var(--primary-color-light);
  }
  .sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar li .icon,
  .sidebar li .text {
    color: var(--text-color);
  }
  .sidebar header {
    position: relative;
  }
  .sidebar .image-text img {
    border-radius: 6px;
    width: 40px;
  }
  .sidebar header .image-text {
    display: flex;
    align-items: center;
  }
  header .image-text .header-text {
    display: flex;
    flex-direction: column;
  }
  .header-text .name {
    color: var(--text-color);
    font-weight: 600;
  }
  .header-text .profession {
    color: var(--text-color);
    margin-top: 2px;
    font-weight: 500;
  }
  .sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--body-color);
    border-radius: 50%;
    cursor: pointer;
  }
  .sidebar li .icon,
  .sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
  }
  .sidebar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: var(--tran-04);
  }
  .sidebar li a:hover {
    background: var(--primary-color);
  }
  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
    color: var(--sidebar-color);
  }
  .sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-bar .mode {
    background: var(--primary-color-light);
  }
  .menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
  }
  .menu-bar .mode i {
    position: absolute;
  }
  .menu-bar .mode i.sun {
    opacity: 0;
  }
  .menu-bar .mode .toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 60px;
  }
  .toggle-switch .switch {
    position: relative;
    border-radius: 25px;
    background: var(--toggle-color);
    height: 22px;
    width: 44px;
  }
  .switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--sidebar-color);
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
    transition: var(--tran-02);
  }
  body.dark .switch::before {
    left: 20px;
  }
  /* Dark mode overrides */
  body.dark {
    --body-color: #1d1d1d;
    --sidebar-color: #2c2c2c;
    --text-color: #ffffff;
    --primary-color-light: #444444;
    --toggle-color: #ffffff;
  }
  